@model IEnumerable<PawsNClaws.DATA.EF.Location>

@{
    ViewBag.Title = "Locations";
}

<h2 class="listHeader">@ViewBag.Title</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    <p class="listSubheader">
        @Html.ActionLink("Add New Location", "Create")
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.ReservationLimit)
                </th>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.ActionLink(item.LocationName, "Details", new { id = item.LocationID })

                    @*@Html.DisplayFor(modelItem => item.LocationName)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationLimit)
                    </td>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.LocationID })

                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            @:| @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
                        }
                    </td>
                }
        </tr>
        }
</tbody>
</table>
